/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html,body{
    display: block;
    margin: 0;
    background-color: white;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.4;
    color: white;
    background: transparent;
    display: block;
}
div {
    display: block;
}

.header{
    width: 100%;
    height: 60px;
    background-color: #263042;
}
.top_panel{
    max-width: 1200px;
    width: 100%;
    height: 60px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */

    /* background-size:500px 200px; */
    color: white;
    position: relative;
}
.minobr{
    display: flex;
    align-items: center;
    
}
.minobr_img{
    max-width: 50px;
}
.minobr_text{
    color: rgb(255, 255, 255);
    width: 220px;
    padding-left: 10px; 
    padding-top: 5px;
 
}
.minopros{
    display: flex;
    /* align-items: center; */
    color: #ffffff;
    margin-left: -20px;
    
}
.minpros_img{
    
    max-width: 50px;
}
.minpros_text{
    color: rgb(255, 255, 255);
    width: 53%;
    padding-left: 10px; 
    padding-top: 5px;
}
.container{
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(243, 239, 233);
    
}
.title_header{
    max-width: 1200px;
    width: 100%;
    height: 160px;
    margin: 0 auto;
    display: flex;
    
    align-items: center;
    overflow: hidden;
    display: flex;
    
    align-items: center;
}
.TopMenu  {
    
    height: 60px;
    
    background-color: #263042;
    /* display: flex; */
    border-bottom: 3px solid #ddd;
    border-top: 1px solid #ddd;
   
    
    
    
}

ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    /* margin-right: 5px; Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
   }
#menu ul li{
    /* align-items: center; */
    max-width: 1200px;
    /* position: absolute; */
    margin: 0 auto;
  
 
}
.x{
    color: rgb(255, 255, 255);
}
#menu_item_1 {
    color: #ffffff ;
    
    
}